@import "variables";

.drawerr {
	position: fixed;
	z-index:1;
	top:$drawerr-navbar-height;
	width:$drawerr-width;
	height:calc(100% - #{$drawerr-navbar-height});
	overflow-y:auto;
	overflow-x:hidden;
	transform:$drawerr-translate;
	transition:$drawerr-transition;
	background:$drawerr-bg;
	box-shadow:1px 0px $drawerr-shadow-depth 0px rgba(50, 50, 50, 0.75);

	/**
	 * Menu items
	 */
	 .section-title,
	 a {
		 display:flex;
		 align-items: center;
		 padding:$drawerr-padding;
		 border-bottom:1px solid $drawerr-item-border-bottom-color;
		 text-decoration: none;
		 color:$drawerr-text-color;
		 transition: background 0.3s ease-in-out;
		 font-size:$drawerr-item-font-size;
		 font-weight:$drawerr-item-font-weight;
	 }
 
	 .section-title {
		 font-weight:bold;
		 text-transform: uppercase;
		 font-size:$drawerr-section-font-size;
	 }

	/**
	 * Lists
	 */
	ul {
		margin:0;
		padding:0;
		list-style: none;
	}

	// Depth 1
	ul ul a  {
		padding-left:calc(#{$drawerr-padding-left} + #{$drawerr-item-padding-indent});
	}

	// Depth 2
	ul ul ul a  {
		padding-left:calc(#{$drawerr-padding-left} + (#{$drawerr-item-padding-indent} * 2));
	}

	// Depth 3
	ul ul ul ul a  {
		padding-left:calc(#{$drawerr-padding-left} + (#{$drawerr-item-padding-indent} * 3));
	}

	// Active
	a.active {
		position: relative;
		color:$drawerr-item-active-color;
	}

	.active:last-child:before {
		content: " ";
		position: absolute;
		left:0;
		top:0;
		width:4px;
		background:$drawerr-item-active-before;
	}

	a:hover {
		background:#fff;
	}

	/**
	 * Scrollbars
	 */
	body {
		scrollbar-face-color: rgba(0, 0, 0, 0.07);
		scrollbar-track-color: rgba(0, 0, 0, 0.05);
	}

	&::-webkit-scrollbar {
		width: $drawerr-scrollbar;
		height: $drawerr-scrollbar;
	}

	&::-webkit-scrollbar-thumb {
		background: $drawerr-scrollbar-thumb;
		border-radius: 1em;
		cursor: grab;
	}

	&::-webkit-scrollbar-track {
		background: $drawerr-scrollbar-track-color;
	}
}

.drawerr--init {
	display:none;
}

.drawerr--open {
	transform:translateX(0px);
}

/**
 * Slide drawerr from the right side
 */
.drawerr-slide-from-right {
	transform:translateX($drawerr-translate-rtl);
}

.drawerr-slide-from-right.drawerr--open {
	transform:translateX( calc(100vw - #{$drawerr-width} ));
}

.drawerr-btn--active {
	span {
		&:nth-child(1) {
			transform: translateY(5px) rotate(45deg);
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			transform: translateY(-12px) rotate(-45deg);
		}
	}
}

.drawerr-btn {
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	align-self:center;
	width:$drawerr-hamburger-width;
	height:$drawerr-hamburger-height;
	padding:0;
	outline: none;

	span:not(.drawerr-btn__menu-text) {
		width:inherit;
		height:$drawerr-hamburger-bar-height;
		background:$drawerr-hamburger-bars-bg;
		transition: all 0.3s ease-in-out;
	}
}

.drawerr-btn__menu-text {
	font-size:.8rem;
}

.drawerr-btn--has-menu-text {
	height:$drawerr-hamburger-height * 2;
	align-self:flex-end;
}

.drawerr_btn--back {
	display:none;
}

.drawerr {
	> ul {
		position:absolute;
		width:100%;
		transition:transform .4s ease-in;
		transform:translate3d(0, 0px, 0px);
	}
}

.drawerr .drawerr-slideIn {
	transform:translate3d(-100%, 0px, 0px);
}

.drawerr-submenu {
	position:absolute;
	top:0;
	left:100%;
	display:none;
	width:100%;
	z-index:2;
}

.drawerr-submenu--active {
	display:block;
}