$drawerr-bg: #f4f7f6 !default;
$drawerr-text-color: #333 !default;
$drawerr-navbar-height: 80px !default;
$drawerr-shadow-depth: 10px !default;
$drawerr-shadow-depth: 1vw;
$drawerr-width: 80% !default;
$drawerr-transition: transform 0.5s ease-in-out;

// Scrollbar
$drawerr-scrollbar: 4px !default;
$drawerr-scrollbar-thumb: darken(#e3e3e3, 50%) !default;
$drawerr-scrollbar-track-color: #e3e3e3 !default;

// Section title
$drawerr-section-font-size:17px;

// Menu items
$drawerr-padding-left: 1.5rem !default;
$drawerr-padding: 1.2rem 1.2rem 1.2rem $drawerr-padding-left !default;
$drawerr-item-padding-indent:.8rem;
$drawerr-item-font-size:16px;
$drawerr-item-font-weight:400;
$drawerr-item-border-bottom-color: #E6EAEA !default;
$drawerr-item-active-before: #49c5b6 !default;
$drawerr-item-active-color: #49c5b6 !default;

$drawerr-padding-half: $drawerr-padding / 2;
$drawerr-translate: calc(-100% - 1vw);
$drawerr-translate-rtl: calc( 100vw + #{$drawerr-shadow-depth});

// Hamburger
$drawerr-hamburger-width:40px !default;
$drawerr-hamburger-height:20px !default;
$drawerr-hamburger-bars-bg: #fff !default;
$drawerr-hamburger-bar-height: 2px !default;

