$drawerr-bg: #f4f7f6 !default;
$drawerr-text-color: #333 !default;
$drawerr-navbar-height: 80px !default;
$drawerr-shadow-depth: 10px !default;
$drawerr-shadow-depth: 1vw !default;
$drawerr-width: 80% !default;
$drawerr-transition: transform 0.5s ease-in-out !default;

// Scrollbar
$drawerr-scrollbar: 4px !default;
$drawerr-scrollbar-thumb: darken(#e3e3e3, 50%) !default;
$drawerr-scrollbar-track-color: #e3e3e3 !default;

// Menu items
$drawerr-item-height:58px !default;
$drawerr-padding-left: 1.5rem !default;
$drawerr-spacer: 1.2rem !default;
$drawerr-padding: $drawerr-spacer $drawerr-spacer $drawerr-spacer $drawerr-padding-left !default;
$drawerr-item-padding-indent:.8rem !default;
$drawerr-item-font-size:16px !default;
$drawerr-item-font-weight:400 !default;
$drawerr-item-border-bottom-color: #E6EAEA !default;
$drawerr-item-active-before: #49c5b6 !default;
$drawerr-item-active-color: #49c5b6 !default;

$drawerr-padding-half: $drawerr-padding / 2;
$drawerr-translate: translateX(-100%) translateX(-1vw);
$drawerr-translate-rtl: calc( 100vw + #{$drawerr-shadow-depth});

// Section title
$drawerr-section-height:$drawerr-item-height !default;
$drawerr-section-font-size:17px !default;

// Navigation
$drawerr-navigation-bg: $drawerr-item-active-color !default; 
$drawerr-navigation-color: #fff !default;
$drawerr-navigation-height:60px;

// Hamburger
$drawerr-hamburger-width:40px !default;
$drawerr-hamburger-height:20px !default;
$drawerr-hamburger-bars-bg: #fff !default;
$drawerr-hamburger-bar-height: 2px !default;

